@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-home-container {
    background-color: #225db0;
    background-size: cover;
    font-family: "Roboto";
    padding: 40px;
}

.home-heading {
    color: #ffffff;
    font-size: 30px;
}

.home-paragraph {
    color: #ffffff;
    font-size: 19px;
    font-weight: 100;
}

.home-section {
    background-color: #ffffff;
    text-align: center;
    margin: 10px;
    height: 20vh;
    width: 100vw;
    padding: 15px;
    border-radius: 10px;
}

.home-img {
    width: 10vw;
    padding-bottom: 5px;
}

.home-paragraph2 {
    color: #1f2933;
    font-size: 15px;
}

.bg-container {
    background-color: #225db0;
    background-size: cover;
    font-family: "Roboto";
    padding: 20px;
}

.Section-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 25px;
}

.Section-list {
    color: #ffffff;
    font-size: 15px;
}

.Section-list1 {
    padding-bottom: 20px;
}

.button-center {
    text-align: center;
    padding-bottom: 10px;
}

.button {
    background-color: #225db0;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    font-size: 13px;
    font-weight: 100;
}
